---
import './index.scss'

---

<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Open World</title>
		<link rel="shortcut icon" href="/redstone.png" type="image/x-icon">
	</head>
	<body>
		<canvas class="gl"></canvas>
		<script>
			import main from "../components/main"

			const canvas = document.querySelector('canvas.gl') as  HTMLCanvasElement

			main(canvas)
</script>
	</body>
</html>